<%# app/views/relay/shared/_toasts.html.erb %>
<div class="toasts" id="relay_toasts" data-controller="relay--toast">
  <% flash.each do |type, message| %>
    <% kind = { "notice" => "success", "success" => "success", "alert" => "danger", "error" => "danger" }.fetch(type.to_s, "info") %>
    <%= render "relay/shared/toast", kind: kind, message: message %>
  <% end %>
</div>
